body {
  background: linear-gradient(to left,  #e0e0eb 50%, #ffffff 50%);
  font-family: cursive;
  margin: 0px;
  padding: 0px;
}

.cm-app-title-logo {
  background-color: transparent;
  display: block;
  margin: 10px auto;
  width: 10%;
}

.cm-app-title {
  font-size: 40px;
  font-weight: 1000;
  margin-bottom: 80px;
}

.cm-app-subtitle {
  margin-bottom: 80px;
}

.cm-app-container-images {
  height: 300px;
  overflow: hidden;
  margin-bottom: 100px;
  max-width: 100%;
}

.cm-app-images {
  background-position: center;
  background-size: cover;
  border-radius: 5%;
  box-shadow: 1px 1px 12px #555;
  cursor: pointer;
  height: 100%;
  margin: 0px auto;
  width: 60%;
}
