.cm-results-container-images {
  background-size: contain;
  height: 200px;
  overflow: hidden;
  margin-bottom: 100px;
  max-width: 100%;
}

.cm-results-images {
  border-radius: 10%;
  cursor: pointer;
  height: 100%;
  width: 60%;
}

.cm-nav-logo {
  width: 30px;
}
