.cm-nav-logo {
  width: 30px;
}

.cm-results-link {
  color: white;
}

.cm-results-link:hover {
  color: white;
  font-weight: 400;
}

.cm-results-container-images {
  height: 250px;
  margin-bottom: 100px;
  max-width: 100%;
}

.cm-results-images {
  background-position: center;
  background-size: cover;
  border-radius: 0%;
  box-shadow: 1px 1px 12px #555;
  height: 90%;
  margin: 0px auto;
  width: 60%;
}

.cm-results-counter-votes {
  background-color: black;
  border-radius: 5%;
  color: white;
  font-weight: bold;
  margin: 0px auto;
  width: 60%;
}

.cm-results-icone-like {
  background-color: white;
  width: 30px;
}
